<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.hospitalmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Fortis Health Care"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignInActivity"
            android:label="Fortis Health Care">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminActivity" />
        <activity
            android:name=".DoctorActivity"
            android:label="Fortis Health Care"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientActivity"
            android:label="Fortis Health Care"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DocPatientDetails"
            android:label="Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorDetails"
            android:label="Doctor Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorPrescription"
            android:label="Prescription" />
        <activity
            android:name=".PatientDetails"
            android:label="Patient Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientDocDetails"
            android:label="Patient Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientPrescription"
            android:label="Patient Prescription"
            android:theme="@style/AppTheme" />
        <activity android:name=".BookAppointment" />
        <activity android:name=".Pharmacy" />
        <activity android:name=".DocMedication" />
        <activity
            android:name=".SignupActivity"
            android:label="Fortis Health Care" />
        <activity android:name=".pharmaMain" />
        <activity
            android:name=".patientMain"
            android:label="Fortis Health Care"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DoctorMain"
            android:label="Fortis Health Care"
            android:theme="@style/AppTheme" />
        <activity android:name=".AppDetails" />
        <activity android:name=".Records"></activity>
    </application>

</manifest>